*
{
    background-color: rgb(215, 213, 213);
}

.talk {
    display: flex;
    list-style: none;

}



h1 
{
    text-align:center;
background-color: aliceblue;
padding: 20px;

margin: 20px
}

.random
{
background-color: aliceblue;
font-style: italic;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin: 5%;
padding-left: 7px;
border-left: 2px solid black;
}
